NODE_ENV=development

HOST=localhost
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=referi_dev
DB_USER_NAME=root
DB_USER_PASSWORD=toor
JWT_SECRET=somethingSecret
MAIL_API_KEY=emailapikey

API_DOC_USER=someuser
API_DOC_PASS=somepassword
